{% extends "base.html" %}

{% block title %}여행 목적 선택 | 선하 보험{% endblock %}

{% block content %}
<div class="container">
  <div class="chat-group">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='airplane.png') }}" alt="airplane icon" class="icon" />
      <div class="chat-title-group">
        <p>안녕하세요,</p>
        <p><strong>선하 보험</strong>입니다.</p>
        <p>여행 목적을 알려주세요.</p>
      </div>
    </div>

    <div class="chat-body">
      <div class="button-group">
        <form action="{{ url_for('step2') }}" method="POST">
          <button type="submit" name="travel_type" value="해외여행">해외여행</button>
          <button type="submit" name="travel_type" value="장기체류">장기체류</button>
          <button type="submit" name="travel_type" value="국내여행">국내여행</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
